
@{
    ViewBag.Title = "Index";
}

<h2>Admin Management</h2>


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
        <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
    </ul>
</div>
